body {
  font-family: sans-serif;
}

#rod1 {
  position: absolute;
  top: 0%;
  left: 40%;
  width: 15%;
  height: 2%;
  border-radius: 10px;
  background-color: #7c3e66;
}

#rod2 {
  position: absolute;
  top: 98%;
  left: 40%;
  width: 15%;
  height: 2%;
  border-radius: 10px;
  background-color: #9eb23b;
}

#ball {
  position: absolute;
  left: 46%;
  top: 2%;
  width: 3%;
  height: 3%;
  border-radius: 50%;
  background-color: #fec260;
  border: 1px solid grey;
}
